<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bus.management.mapper.DriverMapper">

    <resultMap id="BaseResultMap" type="com.bus.management.domain.Driver">
            <id property="driverid" column="DriverID" jdbcType="INTEGER"/>
            <result property="name" column="Name" jdbcType="VARCHAR"/>
            <result property="age" column="Age" jdbcType="INTEGER"/>
            <result property="gender" column="Gender" jdbcType="VARCHAR"/>
            <result property="licensenumber" column="LicenseNumber" jdbcType="VARCHAR"/>
            <result property="phone" column="Phone" jdbcType="VARCHAR"/>
            <result property="worklocation" column="WorkLocation" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        DriverID,Name,Age,
        Gender,LicenseNumber,Phone,
        WorkLocation
    </sql>
</mapper>
